<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Учет показаний</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1>Добрый день <span style="color: red">admin</span>!</h1>
        <hr/>
		<a th:href="@{/}" class="btn btn-primary" role="button">Домой</a>
		<hr/>
		<h1>Показания</h1>
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Дата</th>
				<th>Тип устройства</th>
				<th>Показания</th>
				<th>Пользователь</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="readout : ${readouts}">
				<tr>
					<td th:text="${readout.date}"></td>
					<td th:text="${readout.type}"></td>
					<td th:text="${readout.value}"></td>
					<td th:text="${readout.username}"></td>
				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>